html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

/* main colors */
/* main colors */
/* common props */
.main {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main .meals .meal {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
}

.img-fit, .main .meals .img-container {
  width: 100%;
  height: 100%;
}

.col-reset {
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.main .meals .img-container {
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2c38;
  opacity: 0.5;
}

.main .meals .img-container {
  width: 280px;
  min-height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main .sidebar .instagram .image-container .img-9, .main .sidebar .instagram .image-container .img-8, .main .sidebar .instagram .image-container .img-7, .main .sidebar .instagram .image-container .img-6, .main .sidebar .instagram .image-container .img-5, .main .sidebar .instagram .image-container .img-4, .main .sidebar .instagram .image-container .img-3, .main .sidebar .instagram .image-container .img-2, .main .sidebar .instagram .image-container .img-1, .main .sidebar .book-now .book, .main .sidebar .recent-posts .post .img-holder-3, .main .sidebar .recent-posts .post .img-holder-2, .main .sidebar .recent-posts .post .img-holder-1 {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.main .meals .meal-info .heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main .sidebar .tags .heading-container, .main .sidebar .instagram .heading-container, .main .sidebar .recent-posts .heading-container, .main .sidebar .categories .heading-container {
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.main .sidebar .recent-posts .post .date-container .date, .main .meals .meal-info .date-container .date {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  border-right: 2px solid #8f8a97;
  padding-right: 10px;
}
.main .sidebar .recent-posts .post .date-container .date svg > path, .main .meals .meal-info .date-container .date svg > path {
  fill: #e8272e;
}

.main .sidebar .recent-posts .post .date-container .comments, .main .meals .meal-info .date-container .comments {
  font-size: 14px;
  padding-left: 15px;
  font-weight: bold;
}
.main .sidebar .recent-posts .post .date-container .comments svg > path, .main .meals .meal-info .date-container .comments svg > path {
  fill: #e8272e;
}

.main .sidebar .tags .content .tag-8, .main .sidebar .tags .content .tag-7, .main .sidebar .tags .content .tag-6, .main .sidebar .tags .content .tag-5, .main .sidebar .tags .content .tag-4, .main .sidebar .tags .content .tag-3, .main .sidebar .tags .content .tag-2, .main .sidebar .tags .content .tag-1 {
  background-color: #f4f4f4;
  color: #2f303c;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  font-style: italic;
}
.main .sidebar .tags .content .tag-8:hover, .main .sidebar .tags .content .tag-7:hover, .main .sidebar .tags .content .tag-6:hover, .main .sidebar .tags .content .tag-5:hover, .main .sidebar .tags .content .tag-4:hover, .main .sidebar .tags .content .tag-3:hover, .main .sidebar .tags .content .tag-2:hover, .main .sidebar .tags .content .tag-1:hover {
  background-color: #e8272e;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* common props */
/*start main section*/
.main .meals .img-1 {
  background-image: url("../images/meal-1.jpg");
}
.main .meals .img-2 {
  background-image: url("../images/meal-2.jpg");
}
.main .meals .img-3 {
  background-image: url("../images/meal-3.jpg");
}
.main .meals .img-4 {
  background-image: url("../images/meal-4.jpg");
}
.main .meals .img-5 {
  background-image: url("../images/meal-5.jpg");
}
.main .meals .img-6 {
  background-image: url("../images/meal-6.jpg");
}
.main .meals .img-7 {
  background-image: url("../images/meal-7.jpg");
}
.main .meals .img-8 {
  background-image: url("../images/meal-8.jpg");
}
.main .meals .img-9 {
  background-image: url("../images/meal-9.jpg");
}
.main .meals .meal {
  min-height: 220px;
}
.main .meals .meal .row.col-reset {
  min-height: 220px;
}
.main .meals .meal-info .heading h4 {
  font-size: 18px;
  color: #2f303c;
}
.main .meals .meal-info .text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8f8a97;
  font-size: 14px;
  overflow: hidden;
}
.main .meals .meal-info .text p {
  margin-bottom: 10px;
}
.main .meals .meal-info .text .readmore {
  color: #e8272e;
  font-weight: 600;
}
.main .meals .meal-info .text .readmore:hover {
  cursor: pointer;
}
.main .pagination-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .pagination-holder .page-link {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  color: #8f8a97;
}
.main .pagination-holder .page-link.active {
  background-color: #e8272e;
  color: #fff;
  border-color: #e8272e;
}

/*end main section*/
/* start sidebar section*/
.main .sidebar .search-container form {
  margin-top: 10px;
}
.main .sidebar .search-container form input.search-field {
  border-radius: 20px;
  font-weight: 600;
}
.main .sidebar .search-container .search {
  position: absolute;
  right: 20px;
  padding: 0;
  top: 5px;
}
.main .sidebar .categories .cat {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}
.main .sidebar .categories .cat .name {
  color: #8f8a97;
  font-size: 17px;
}
.main .sidebar .categories .cat .name svg {
  margin-right: 5px;
}
.main .sidebar .categories .cat .number {
  color: #8f8a97;
  font-size: 17px;
}
.main .sidebar .recent-posts .post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-top: 20px;
}
.main .sidebar .recent-posts .post .img-holder-1 {
  background-image: url(../images/meal-1.jpg);
}
.main .sidebar .recent-posts .post .img-holder-2 {
  background-image: url(../images/meal-2.jpg);
}
.main .sidebar .recent-posts .post .img-holder-3 {
  background-image: url(../images/meal-3.jpg);
}
.main .sidebar .recent-posts .post .info-heading h5 {
  font-size: 18px;
  margin-bottom: 15px;
}
.main .sidebar .book-now .book {
  z-index: 1;
  width: 100%;
  margin-top: 20px;
  height: 300px;
  background-image: url(../images/meal-1.jpg);
}
.main .sidebar .book-now .book .overlay {
  border-radius: 10px;
}
.main .sidebar .book-now .book .content {
  z-index: 2;
  padding: 10px;
}
.main .sidebar .book-now .book .content h2 {
  color: #fff;
  margin-bottom: 10px;
}
.main .sidebar .book-now .book .content h2 span {
  color: #e8272e;
  font-size: 60px;
}
.main .sidebar .book-now .book .content p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.main .sidebar .book-now .book .content a {
  text-decoration: none;
  width: 200px;
  background-color: #e8272e;
  color: #fff;
  margin-top: 20px;
  font-size: 28px;
  border-radius: 20px;
}
.main .sidebar .instagram .heading-container {
  font-size: 18px;
}
.main .sidebar .instagram .image-container .img-1 {
  background-image: url(../images/meal-1.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-2 {
  background-image: url(../images/meal-2.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-3 {
  background-image: url(../images/meal-3.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-4 {
  background-image: url(../images/meal-4.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-5 {
  background-image: url(../images/meal-5.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-6 {
  background-image: url(../images/meal-6.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-7 {
  background-image: url(../images/meal-7.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-8 {
  background-image: url(../images/meal-8.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .instagram .image-container .img-9 {
  background-image: url(../images/meal-9.jpg);
  margin-bottom: 10px;
  padding: 2px;
  display: block;
}
.main .sidebar .tags .heading-container {
  font-size: 18px;
}
.main .sidebar .tags a {
  text-decoration: none;
  color: inherit;
}
/*end sidebar section */

/*# sourceMappingURL=main.css.map */
